* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: prompt;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

body {
    /* background-color: #008AD8; */
}

nav {
    border-bottom: 1px solid #838383;
    position: sticky;
    /* background-color: white; */
    background-color: #2E4DA7;
    color: aliceblue;
    top: 0;
    left: 0;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    box-shadow: 0 3px 3px #dddddd;
    
}

.project {
    margin: 0 2rem;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 2rem;
}

.menu li a {
    text-decoration: none;
    font-weight: 500;
    color: aliceblue;

}

.container {
    padding: 0 5rem;
    color: #2E4DA7;
}

.about-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    color: #2E4DA7;
    padding: 0 5rem;
    box-shadow: 0 1px 3px #dddddd;
    background-color: aliceblue;

}

.info p, .info h3{
    margin-top: 10px;
}

.info h2{
    
    margin-top: 120px;
    font-size: 60px;
}

.image-con {
    margin-top: 100px;
    padding-left: 80px;
}

.image-con img{
    float: right;
    width: 100%;
    border-radius: 10%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-con img:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.skill-con {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.header-skill {
    margin-top: 2rem;
    text-align: center;
    font-size: 25px;
}

.hard-skill , .soft-skill{
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 0 1px;
    border-collapse: collapse;
    
}

.header-blog {
    margin-top: 2rem;
    font-size: 25px;
}

.blog-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.info-blog a{
    text-decoration: none;
    color: #2E4DA7;
}
.info-blog a:hover{
    opacity: 0.3;
}

.blog {
    border: 1px solid #838383;
    background-color: aliceblue;
    padding: 10px;
    margin: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.blog:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.img-blog img{
    width: 100%;
}

.contact-con {
    background-color: #2E4DA7;
    color: aliceblue;
}

.header-con {
    text-align: center
}

.contact-btn {
    display: flex;
    justify-content: center;
}

.item {
    margin: 2px 10px;
}

.item a {
    color: aliceblue;
    font-size: 30px;
}



